<div id="wrapper">

  <!-- Header -->
  <header id="header">
    <div class="logo-header">
      <a href="/"><img src="/imgs/FaceInLogo.png"></a>
    </div>
    <div class="content">
      <div class="inner">
        <h1>Tableau de Bord Employé</h1>
      </div>
    </div>
    <nav>
      <ul>
        <li><button type="button" id="employeewebcam">Webcam</button></li>
        <li><button type="button" id="employeecheckin">CheckIn</button></li>
      </ul>
    </nav>
    <!--<h4> Selectionnez Votre Service</h4>
    <select id="boss_list">
    </select> -->
    <h4> Selectionnez Votre Nom</h4>
    <select id="employeeList">
    </select>
  </header>


  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">&copy; Nono647 </p>
  </footer>

</div>
<script src="/js/employeedashboard.js"></script>
{{!-- <script src="/js/dashboard.js"></script>
<script src="/js/addEmployee.js"></script> --}}